.App-header {
    background-color: #eee; /* 変更 */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #333; /* 変更 */
  }